.date-picker-portal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5555;
}

.rmdp-top-class {
    justify-content: center;
}

.react-multi-date-picker-custom {
    width: 100% !important;
    border: 1px solid grey;

    & .rmdp-range-hover {
        background-color: #121212;
    }
}

.date-picker-portal-paper {
    background-color: transparent;
    box-shadow: none;
}
