.date-picker-portal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5555;
}

.rmdp-top-class {
    justify-content: center;
}

.react-multi-date-picker-custom {
    width: 100% !important;
    border: 1px solid grey;
    max-width: 700px;


    & .rmdp-range-hover {
        background-color: #121212;
    }
}

.date-picker-portal-paper {
    background-color: transparent;
    box-shadow: none;
}


@media(min-width: 1024px) {
    .react-multi-date-picker-custom .rmdp-top-class{
        min-height: 310px;
    }
    .rmdp-day-picker{
        gap: 50px;
    }

}


