.toggleTheme {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(10,10,10);
    transition: all 0.5s ease-in;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.toggleTheme::before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(253, 253, 253);
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: all 0.5s ease-in;
}

.toggleTheme:checked {
    background: rgb(133, 234, 45);
}

.toggleTheme:checked::before {
    background: rgb(10,10,10);
    left: 32px;
}

.toggleTheme:checked ~ .container {
    background: rgb(10,10,10);
    color:rgb(255,255,255);
}
.toggleThemeLabel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
